body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #e3f2fd;
  font-family: sans-serif;
}

.casa {
  width: 500px;
  height: 300px;
  border: 2px solid #333;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  background: #fafafa;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  border-radius: 6px;
  overflow: hidden;
}

/* Cuarto del segundo nivel */
.cuarto-segundo-nivel {
  background: #c8e6c9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
}

.ventana {
  background: url('../assets/ventana.jpeg') center/cover no-repeat;
  width: 100px;
  height: 70px;
  border: 2px solid #333;
  border-radius: 4px;
}



/* Pared (rejilla decorativa) */
.pared {
  width: 100%;
  height: 25%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.pared div {
  border: 1px solid #999;
  background: #ffe0b2;
}

/* Entrada */
.entrada {
  background: url('../assets/pared.jpeg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.puerta {
  background: url('../assets/madera.jpeg') center/cover no-repeat;
  width: 70px;
  height: 110px;
  border: 2px solid #333;
  border-radius: 4px;
}

/* Garage */
.garage {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #e0e0e0;
}

.porton {
  width: 90%;
  height: 80%;
  background: url('../assets/porton.jpeg') center/cover no-repeat;
  border: 2px solid #333;
  border-radius: 4px;
}
